<div class="box">
  <div class="article">
    <img src="../../../assets/images/drawers.jpg" alt="image" class="dranwers" />
    <div class="content">
      <h2>
        Shift the overall look and feel by adding
        these wonderful touches to furniture in your home
      </h2>
      <p class="description">
        Ever been in a room and felt like something was missing?
        Perhaps it felt slightly bare and uninviting. I've got some
        simple tips to help you make any room feel complete.
      </p>
      <div class="card-user">
        <div class="profile">
          <img src="../../../assets/images/avatar-michelle.jpg" alt="user-michelle" class="user" />
          <div>
            <p class="username">
              Michelle Appleton
            </p>
            <p class="date">
              28 Jun 2020
            </p>
          </div>
        </div>
        <div class="share">
          <img src="../../../assets/images/icon-share.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
